ul{
    list-style: none;
    display: flex;
    background:rgb(28, 227, 28);
    justify-content: space-around;
    height: 40px;
    align-items: center;
    font-size: 1.3rem;
   

}
.active-link{
    background-color: white;
    border-radius: 20%;
    padding: 5px;
}

 